data/command/chatgpt/test.txt
data/database
data/app
data/command/semantic_filters/embeddings
data/command/semantic_filters/filters

script/test
script/util

venv

.env

.gitignore
README.md
docker-compose.yml
Dockerfile