.env
.idea
__pycache__
resources/constants.ini
resources/prod_prep.md
OpenAI
Test
Utils
clientcommands/chatgpt_module/chatgpt_data/test.txt
resources/user_data.yaml
resources/yaserviceru.log
resources/yaserviceru_db.sqlite
resources/yaserviceru_persistence
.DS_Store