.DS_Store
.idea
__pycache__

.ruff_cache/
.github/

services/data/app
services/data/database
services/data/vector_database

services/config/database/pg_config

app/telefix/data/core

app/scripts/init_database.sql

yaserviceru.egg-info/
app/dist/

app/.env
/app/log/logs.log
