.env

data/resources/constants.ini
data/resources/prod_prep.md
data/resources/pg_data
data/resources/pg_config
data/resources/init_database.sql
data/chatgpt_data/test.txt
data/semantic_filters_data/weaviate_data
data/resources/user_data.yaml
data/resources/yaserviceru.log
data/resources/yaserviceru_db.sqlite
data/resources/yaserviceru_persistence

scripts/Test
scripts/Utils

.DS_Store
.idea
__pycache__