include yaserviceru/config/app/*.yaml
include yaserviceru/config/module/*.yaml

include yaserviceru/data/app/*.log
include yaserviceru/data/app/*.pkl

include yaserviceru/data/user/start/*.yaml
include yaserviceru/data/user/start/*.mp4

include yaserviceru/data/user/wiki/*.yaml
recursive-include yaserviceru/data/user/wiki/ *.yaml

include yaserviceru/data/vector_database/*.yaml